# Python
.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc

# Env / secrets
.env
# Sensitive JSON (optional refine)
*.key.json
*credentials*.json

# Terraform
**/.terraform/
# keep lock file (recommended)
# **/.terraform.lock.hcl
**/terraform.tfstate*
**/crash.log

# Terraform variable files (sensitive)
**/terraform.tfvars
**/*.tfvars
**/*.tfvars.json

# OS / misc
*.log
.DS_Store
